.root {
  background: var(--color-sidebar-bg);
  border-right: 1px solid var(--color-sidebar-border);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: inherit;
  position: relative;
}

.root.noData {
  gap: 16px;
  align-items: center;
  margin-top: 55%;
  padding: 16px 16px 16px;

  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 600;

  text-align: center;
}

.error {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin: 16px;
  padding: 12px;
  background: var(--color-error-bg);
  color: var(--color-error);
  z-index: 1000;

  font-size: 14px;
}

.closeButton {
  width: 24px;
  height: 24px;;
  background: none;
  border: none;
  color: var(--color-error);
  cursor: pointer;
  margin-left: 12px;
}

.testBlock {
  font-size: 12px;
  padding: 6px 16px 16px;
}

.copyButton {
  background: rgba(77, 165, 154, 0.15);
  border: none;
  cursor: pointer;
  padding: 0 6px;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 4px;
}

.applyChangesBanner {
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;

  z-index: 100000;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.section {
  border-bottom: 1px solid var(--color-sidebar-border);
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 0;
  padding: 16px;
  letter-spacing: -0.112px;
  line-height: 24px;
}

.categoryTitle {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;

  padding: 16px 16px 0;
  margin: 0;
  color: var(--color-primary-500);
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 16px 32px;
}