.root {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.root.loading {
  height: 80vh;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0;
  }

  .titleText {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: var(--color-apply-button-bg-active);
    border-radius: 50%;
  }

  .checkIcon {
    width: 24px;
    height: 24px;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .statItem {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 10px;

    border-radius: 8px;
    background: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    color: var(--color-text-primary);

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto 48px;
}

.slideTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text-primary);

  margin: 0 0 20px 0;
}

.slideContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 16px;
}

.imagesContainer {
  display: flex;
  gap: 24px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 465 / 260;
}

.image,
.placeholder {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.changeItem {
  display: flex;
  align-items: center;
  gap: 10px
}

.changeIndex {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--color-primary-hover);
  border: 1px solid var(--color-apply-button-bg-active);
}

.changeIndexText {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-primary-500);
}

.changeInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.changeCategory {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-text-muted);
}

.changeValue {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;

  color: var(--foreground);
}

.changeResolved {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.changeAction,
.proposedValue {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text);
}

.actions {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;

  padding: 0 16px 16px;
}

.actionButton {
  width: 210px;
}