.root {
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  border: none;
  cursor: pointer;
}

.root.primary {
  background-color: var(--color-primary-500);
}

.root.secondary {
    background-color: var(--color-primary-200);
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.root:hover:not(:disabled) {
  opacity: 0.9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.labelWrapper {
  box-sizing: border-box;
  display: flex;
  gap: var(--space-8);
  align-items: center;
  justify-content: center;
  padding: var(--space-8) var(--space-10);
  width: 100%;
  height: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-style: normal;
}

.root.primary .label {
    color: var(--color-on-primary);
}

.root.secondary .label {
    color: var(--color-primary);
}