.root {
  width: 40px;
  height: 40px;
  border-bottom-color: var(--color-apply-button-text) !important;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.root.inverted {
  border-bottom-color: var(--color-primary-200) !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}