.root {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-800);
  line-height: 24px;

  text-align: start;
}
