.root {
  background: var(--color-sidebar-bg);
  border-right: 1px solid var(--color-sidebar-border);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: inherit;
  position: relative;
}

.root.noData {
  gap: 16px;
  align-items: center;
  margin-top: 55%;
  padding: 16px 16px 16px;

  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 600;

  text-align: center;
}

.error {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin: 16px;
  padding: 12px;
  background: var(--color-error-bg);
  color: var(--color-error);
  z-index: 1000;

  font-size: 14px;
}

.closeButton {
  width: 24px;
  height: 24px;;
  background: none;
  border: none;
  color: var(--color-error);
  cursor: pointer;
  margin-left: 12px;
}

.testBlock {
  font-size: 12px;
  padding: 6px 16px 16px;
}

.copyButton {
  background: rgba(77, 165, 154, 0.15);
  border: none;
  cursor: pointer;
  padding: 0 6px;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 4px;
}

.applyChangesBanner {
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;

  z-index: 100000;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.section {
  border-bottom: 1px solid var(--color-sidebar-border);
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 0;
  padding: 16px 16px 0;
  letter-spacing: -0.112px;
  line-height: 24px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.statLabel {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
  letter-spacing: -0.105px;
  line-height: 22px;
}

.statValue {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
  letter-spacing: -0.105px;
  line-height: 22px;
  text-transform: uppercase;
}

.slide {
  border-bottom: 1px solid var(--color-sidebar-border);
  padding-bottom: 16px;
}

.slideTitle {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 0;
  padding: 12px 16px 0;
  letter-spacing: -0.096px;
  line-height: normal;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 16px 10px;
}

.slideLink {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  padding: 16px 16px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: underline;
  letter-spacing: -0.098px;
  line-height: 22px;
}

.slideLink:hover {
  opacity: 0.8;
}

.linkIcon {
  width: 24px;
  height: 24px;
  color: var(--color-text-primary);
}

.summaryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px 0;
}

.summaryHeader .sectionTitle {
  padding: 0;
  margin: 0;
}

.filterWrapper {
  display: flex;
  align-items: center;
}

.noChanges {
  padding: 16px;
  text-align: center;
  flex-grow: 1;
  margin-top: 36px;
  font-size: 16px;
}